html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

i {
  pointer-events: none;
}

body {
  background: radial-gradient(black 3px, transparent 5px, black 7px, transparent 9px, black 11px, transparent 13px, black 15px, transparent 17px, black 19px, transparent 21px, black 23px, transparent 25px, black 27px, transparent 29px, black 31px, transparent 33px);
  background-color: yellowgreen;
  background-size: 40px 40px;
}

header {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

form input, form button {
  border: none;
  padding: 0.25rem 0.5rem;
  font-size: 1.75rem;
  margin: 0.5rem;
}

form input[type='number'] {
  text-align: center;
}

form input::-webkit-outer-spin-button,
form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form input[type=number] {
  -moz-appearance: textfield;
}

form button {
  cursor: pointer;
  border: black solid 0.2rem;
  border-radius: 20px;
  background-color: #cff303;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.25rem 0rem;
}

ul li {
  background-color: #fff;
  margin: 0.5rem;
  font-size: 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

ul li p {
  font-size: 1.75rem;
  padding: 0.25rem 0.5rem;
}

ul li button {
  padding: 0.25rem 0.5rem;
  font-size: 1.75rem;
  border: none;
  cursor: pointer;
  color: black;
}

ul li button.check {
  background-color: #cff303;
}

ul li button.trash {
  background-color: red;
}

@-webkit-keyframes scaleUp {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleUp {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes scaleDown {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes scaleDown {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.done {
  opacity: 0.5;
  text-decoration: line-through;
  text-decoration-thickness: 0.2rem;
}
/*# sourceMappingURL=all.css.map */